@model IEnumerable<XWordsUrkAdminConsole.Models.Word>

@{
    ViewBag.Title = "Words";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h2 class="panel-title list-panel-title">Words</h2>
            </div>
            <div class="panel-body">
                <table id="words-data-table" class="table table-striped table-bordered"
                       style="width:100%;"></table>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var wordListVM;
        var wordAreas;
        var wordComplexities;
        var wordStates;

        $(function () {

            $.getJSON("@Url.Action("GetWordAreas", "Admin")", function (resp) {
                wordAreas = resp;
            })

            $.getJSON("@Url.Action("GetWordComplexities", "Admin")", function (resp) {
                wordComplexities = resp;
            })

            $.getJSON("@Url.Action("GetWordStates", "Admin")", function (resp) {
                wordStates = resp;
            })

            wordListVM = {
                dt: null,

                init: function () {
                    dt = $('#words-data-table').DataTable({
                        "serverSide": true,
                        "stateSave": true,
                        "processing": true,
                        "searching": true,
                        //"scrollY": "60vh",
                        "ajax": {
                            "url": "@Url.Action("GetWords","Admin")"
                        },
                        "columns": [
                            {
                                "title": "Id",
                                "data": "Id",
                                "searchable": false
                            },
                            {
                                "title": "Word",
                                "data": "TheWord",
                                "searchable": true
                            },
                            {
                                "title": "Definition",
                                "data": "Definition",
                                "searchable": true
                            },
                            {
                                "title": "Area",
                                "data": "Area",
                                "searchable": true,
                                "render": function (data) {
                                    return wordAreas[data];
                                }
                            },
                            {
                                "title": "Complexity",
                                "data": "Complexity",
                                "searchable": true,
                                "render": function (data) {
                                    return wordComplexities[data];
                                }
                            },
                            {
                                "title": "State",
                                "data": "State",
                                "searchable": true,
                                "render": function (data) {
                                    return wordStates[data];
                                }
                            },
                            {
                                "title": "Last Modified",
                                "data": "LastModified",
                                "searchable": false,
                                "type": "date",
                                "render": function (data) {
                                    return moment(data).format("YYYY/MM/DD HH:mm:ss")
                                }
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                }
            }



            // initialize the datatables
            wordListVM.init();
        });

    </script>
}