@{
    ViewBag.Title = "About";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 class="modal-title">About</h3>
</div>

<div class="modal-body">
    <h4>Admin console of CrosswordsUkr application</h4>
    <p>CrosswordsUkr is a cross-platform crosswords and crossword puzzles game.</p>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>

