@{
    ViewBag.Title = "Contact";
}
@{
    ViewBag.Title = "Contact";
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 class="modal-title">Contacts</h3>
</div>

<div class="modal-body">
    <h4>Temama soft</h4>
    <strong>Email: </strong> <a href="mailto:rtemka@gmail.com">rtemka@gmail.com</a><br/>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>